extends layout
block menu
  div(class='navbar navbar-default navbar-fixed-top')
    div(class='container-fluid')
      div(class='navbar-header')
        a(class='navbar-brand') 3M - Analyzer
      div(class='navbar-header navbar-right')
        a(class='info-msg') {{infoMsg}}  
block content
  .container-fluid
    .row
       .col-12 
         .panel.panel-primary
           .panel-heading Filters
           .panel-body
             table.table.table-bordered.table-responsive
               tr
                 td
                   select(ng-model="codiSeleccionat" ng-options="code.nom_complet for code in codisFiltrats", ng-change='nouCodiFiltre()')
               tr
                 td
                   span(ng-repeat='codi in aFilterCodes') 
                     span(class='label label-success', ng-click='deleteFilterCode(this)') {{codi.nom_complet}}
               tr
                 td
                   button.btn.btn-sm.btn-success.pull-right(ng-click='getStats()') Get Stats
       .col-12 
         .panel.panel-default
           .panel-heading Resultats
           .panel-body
             .container-fluid
               .row
                 .col-12
                   .panel.panel-default
                     .panel-heading General
                     .panel-body
                       table.table.table-bordered.table-responsive
                         tr
                           td Total Turns analyzed
                           td {{stats.total_turns_analyzed}} 
                           td Total Turns matching filter
                           td {{stats.total_turns_matching}} 
                 .col-12
                   .panel.panel-default
                     .panel-heading Detail
                     .panel-body
                       table.table.table-bordered.table-responsive
                         tr(ng-repeat="block in aMatchingTurns")                           
                           td(ng-bind-html="block.original.contingut_filtrat")
                                          


block extrajs
  script(src='/javascripts/analyze.js')
