extends layout
block menu
  div(class='navbar navbar-default navbar-fixed-top')
    div(class='container-fluid')
      div(class='navbar-header')
        a(class='navbar-brand') 3M - Analyzer
block content
  .container-fluid
    .row
      .col-sm-12
        table.table.table-responsive.table-striped.table-hover
          tr
            td(ng-repeat='oSessio in aSessions track by $index')
              label(for='sess_{{oSessio.title}}') 
                input(id='sess_{{oSessio.title}}', type='checkbox', ng-model='oSessio.checked' ng-change='reload()') 
                | {{oSessio.title}}
      div(ng-class='queryClass')#dades
        .panel.panel-primary
          .panel-heading(ng-click='showQuery()') Query  
          .panel-body(style='overflow:auto')
            table.table-bordered.table-striped.table-responsive
              tr
                th Filter
                th(ng-repeat='aCols in aColumns track by $index') 
                  div
                    div(ng-repeat='sCol in aCols track by $index')
                      button.btn.btn-xs.btn-danger(ng-click='delColumn($parent.$index,$index)',title='Remove') {{sCol.nom}}
                      br
                    select.input-xs(style='width:100px',ng-options='oCodi.nom for oCodi in aCodes ', ng-model='newColSelectedSib[$index]')
                    button.btn.btn-xs.btn-primary(style='margin-left:5px',ng-click='addColumnSibling($index)') Add
                th
                  select.input-sm(style='width:100px',ng-options='oCodi.nom for oCodi in aCodes ', ng-model='newColSelected')
                th
                  button.btn.btn-xs.btn-primary(style='margin-left:5px',ng-click='addColumn()') Add
              tr(ng-if='!bDebug',ng-repeat='sRow in aRows')
                td
                  button.btn.btn-xs.btn-danger(ng-click='delRow($index)',title='Remove') {{sRow.nom}}
                td(ng-repeat='aCell in aResult[$index]') 
                  button.btn.btn-xs(ng-if='aCell.torns.length>0',ng-click='showTurns($parent.$parent.$index, $index)') {{aCell.torns.length}} 
                  button.btn.btn-xs(ng-if='aCell.grups.length>0',ng-click='showGTurns($parent.$parent.$index, $index)') {{aCell.grups.length}} 
              tr
                td
                  select.input-sm(style='width:100px',ng-options='oCodi.nom for oCodi in aCodes ', ng-model='newRowSelected')
              tr
                td
                  button.btn.btn-xs.btn-primary(style='margin-top:5px',ng-click='addRow()') Add
      div(ng-class='turnsClass')
        .panel.panel-primary
          .panel-heading(ng-click='showTurns()') Turns
          .panel-body
            table.table-bordered.table-striped.table-responsive
              tr
                td
                  Total time: {{aStats.total_time}}, Total words: {{aStats.total_words}}
              tr
                td
                  input.input-sm(type='checkbox', ng-model='bShowGroups', value='')
                  | Groups
                  input.input-sm(type='checkbox', ng-model='bShowCodings', value='')
                  | Codes
              tr(ng-repeat='oTorn in aCurrentTurns')
                td {{getTornText(oTorn)}}
                  span(ng-if='bShowCodings')
                    button.btn.btn-xs.btn-success(style='margin:2px 2px',ng-repeat='oCode in getTorn(oTorn).codings') {{aCodes[oCodes['c'+oCode.id_code]].nom}}
                  span(ng-if='bShowGroups')
                    button.btn.btn-xs.btn-primary(ng-click='showGroupTurns(oTorn, oGroup)',style='margin:2px 2px',ng-repeat='oGroup in getTorn(oTorn).groups') {{oGroup}}
      div(ng-class='contextClass')
        .panel.panel-primary
          .panel-heading Group
          .panel-body
            table.table-bordered.table-responsive
              tr(ng-repeat='oTorn in aCurrentGroupTurns')
                td(ng-class='getTornClass(oTorn)') {{getTornText(oTorn)}}
                  span(ng-if='bShowCodings')
                    button.btn.btn-xs.btn-success(style='margin:2px 2px',ng-repeat='oCode in getTorn(oTorn).codings') {{aCodes[oCodes['c'+oCode.id_code]].nom}}
                  span(ng-if='bShowGroups')
                    button.btn.btn-xs.btn-primary(style='margin:2px 2px',ng-repeat='oGroup in getTorn(oTorn).groups') {{oGroup}}
          
        
                  
block extrajs
  script(src='/javascripts/analyze.js')
