extends layout

block menu
  div(class='navbar navbar-default navbar-fixed-top')
    div(class='container-fluid')
      div(class='navbar-header')
        a(class='navbar-brand') 3M  
      div(class='navbar-header navbar-right')
        a(class='info-msg') {{infoMsg}}  
      div#main_menu(class='navbar-collapse collapse')
        ul(class='nav navbar-nav')
          li(class='dropdown') 
            a(class='dropdown-toggle', href='#', data-toggle='dropdown') Projectes
              span(class='caret')
            ul(class='dropdown-menu')
              for elem in data
                li
                  a(href='#',ng-click='loadProject("#{elem._id}")') #{elem.nom}
          li
            a(href='#', ng-click='showCodeManager()') Code Manager
          li(ng-show='bProjectLoaded')
            a(href='#', ng-click='saveProject()') Save
block content
  div#editorTranscripcio(class='modal',tabindex='-1',role='dialog', data-backdrop="static")
    div(class='modal-dialog', style='width:900px')
      div(class='modal-content')
         div(class='modal-header')
           button(type='button', class='close', data-dismiss='modal')
             span(aria-hidden='true') &times
             span(class='sr-only') Close
           h4(class='modal-title') Transcription block
         div(class='modal-body' , style='max-height: 500px;overflow-y: auto;')
           div
             textarea(cols='100', rows='10', ng-model='currentBlock.contingut_filtrat')
           div(ng-bind-html="currentBlock.contingut_filtrat")

         div(class='modal-footer')
           button(type='button', class='btn btn-default btn-sm' data-dismiss='modal') Close
           button(type='button', class='btn btn-success btn-sm', ng-click='saveTranscripcio()') Save
  div#editorCodis(class='modal',tabindex='-1', role='dialog', data-backdrop="static")
    div(class='modal-dialog', style='width:900px')
      div(class='modal-content')
         div(class='modal-header')
           button(type='button', class='close', data-dismiss='modal')
             span(aria-hidden='true') &times
             span(class='sr-only') Close
           h4(class='modal-title') Code Tree editing
         div(class='modal-body' , style='max-height: 500px;overflow-y: auto;')
           table(class='table table-striped table-bordered table-hover')
              tr(ng-repeat='code in codisFiltrats')
                td(width='150px')
                  button(class='btn btn-xs btn-success', ng-click='addCodeTreeChild(this)') +Child
                  button(class='btn btn-xs', ng-click='delCodeTreeChild(this)') Delete
                td
                  span {{code.nom_complet.substring(0,code.nom_complet.length-code.name.length)}}
                  input(type='text',size='{{code.name.length}}', ng-model='code.name')        
         div(class='modal-footer')
           button(type='button', class='btn btn-default btn-sm' data-dismiss='modal') Close
           button(type='button', class='btn btn-success btn-sm', ng-click='saveCodeTree()') Save
  div#editorCoding(class='modal', tabindex='-1', role='dialog', aria-hidden='true', data-backdrop="static")
    div(class='modal-dialog')
      div(class='modal-content')
        div(class='modal-header')
          button(type='button', class='close', data-dismiss='modal')
            span(aria-hidden='true') &times
            span(class='sr-only') Close
          h4(class='modal-title') Coding editing
        div(class='modal-body' , style='max-height: 500px;overflow-y: auto;')
          div {{codes.codis[currentCoding.id_code].nom_complet}}
          div
            select(ng-model='codiSeleccionat', ng-options='codi.nom_complet for codi in codisFiltrats')
          table(class='table table-striped table-bordered table-hover')
            tr
              td
                button(type='button', ng-click='modStartOffset(-5)', class='btn btn-warning btn-xs') -5
                span(class='espai_botons')
                button(type='button', ng-click='modStartOffset(-1)', class='btn btn-warning btn-xs') -1
                span(class='espai_botons')
                button(type='button', ng-click='modStartOffset(1)', class='btn btn-warning btn-xs') +1
                span(class='espai_botons')
                button(type='button', ng-click='modStartOffset(5)', class='btn btn-warning btn-xs') +5
            tr(ng-repeat='block in blocksCoding')
              td(ng-bind-html="block.contingut_edit")
            tr
              td
                button(type='button', ng-click='modEndOffset(-1)', class='btn btn-warning btn-xs') -1
                span(class='espai_botons')
                button(type='button', ng-click='modEndOffset(-5)', class='btn btn-warning btn-xs') -5
                span(class='espai_botons')
                button(type='button', ng-click='modEndOffset(1)', class='btn btn-warning btn-xs') +1
                span(class='espai_botons')
                button(type='button', ng-click='modEndOffset(5)', class='btn btn-warning btn-xs') +5
                span(class='espai_botons')
                button(type='button', ng-click='addBlockCoding()', class='btn btn-warning btn-xs') Add next block
                button(type='button', ng-click='delBlockCoding()', class='btn btn-warning btn-xs') Remove last block
        div(class='modal-footer')
          button(type='button', class='btn btn-default btn-sm' data-dismiss='modal') Close
          button(type='button', class='btn btn-success btn-sm', ng-click='saveCurrentCoding()') Save
          button(type='button', class='btn btn-success btn-sm', ng-click='deleteCurrentCoding()') Delete
  div#editorGrups(class='modal fade', tabindex='-1', role='dialog', aria-hidden='true', data-backdrop="static")
    div(class='modal-dialog')
      div(class='modal-content')
        div(class='modal-header')
          button(type='button', class='close', data-dismiss='modal', ng-click='resetGroupEditing()')
            span(aria-hidden='true') &times
            span(class='sr-only') Close
          h4(class='modal-title') Group editing ({{currentGrup.length}} turns selected)
        div(class='modal-body' , style='max-height: 420px;overflow-y: auto;')
          table(class='table table-striped table-bordered table-hover')
            tr
              td(colspan='2') 
                h5 Current codes
            tr(ng-repeat='block in codisSeleccionats')
              td  {{block.nom_complet}}
              td
                button(type='button' class='btn btn-xs btn-primary', ng-click='treureCodiGrup(this)') Remove
            tr
              td(colspan='2') 
                h5 Add codes
            tr
              td
                span(style='margin-right:20px') Filter
                input(type='text', ng-model='filtreCodis' ng-change='canviFiltreCodis()')
            tr(ng-repeat='block in codisFiltrats')
              td  {{block.nom_complet}}
              td
                button(type='button' class='btn btn-xs btn-primary', ng-click='afegirCodiGrup(this)') Add
        div(class='modal-footer')
          button(type='button', class='btn btn-default btn-sm' data-dismiss='modal', ng-click='resetGroupEditing()') Close
          button(type='button', class='btn btn-success btn-sm', ng-click='saveGroupCodes()') Save
          button(type='button', class='btn btn-success btn-sm', ng-click='deleteGroupCodes()') Delete
      
  div(class='container-fluid')
    div(class='row')
      div#video_container(class='col-sm-12')
        div(class='container-fluid')
          div(class='row')
            div(class='col-sm-12')
              div(class='panel panel-warning')
                div(class='panel-heading')
                  h1(class='panel-title') Video
                div(class='panel-body', ng-non-bindable)
                  div#id_div_video()
                    video#main_video(width="auto", height='400px', controls, data-setup="{}", preload="auto",class="video-js vjs-default-skin vjs-paused")
                      source#id_source_video(ng-non-bindable, type="video/ogg")
     div(class='row')
      div#trans1_container(class='col-sm-4')
        div(class='container-fluid')
          div(class='row')
            div(class='col-sm-12')
              div(class='panel panel-success')
                div(class='panel-heading')
                  h1(class='panel-title') 
                    input(type='checkbox', ng-model='audioToggle')
                    span Verbal
                div#panel_trans_audio(ng-style='scrollAudio', class='panel-body transcripcio')
                    div(class='panel panel-default',  ng-repeat='block in transcriptions.audio' )
                      div(id='block_{{block.id}}', class='panel-heading', ng-class="{'block_seleccionat': block.checked}")
                        button(class='btn btn-xs btn-warning', ng-click='toggleCheck(this,"A")') Select
                        button(class='btn btn-xs btn-warning', ng-click='seekPlayer(this)') Play
                        button(class='btn btn-xs btn-warning', ng-click='editTranscripcio(this,"A")') Edit
                        button(class='btn btn-xs btn-warning', ng-click='deleteTranscripcio(this,"A")') Delete
                        div(style='float:right;display:block', ng-repeat='coding in block.codings') 
                          span(class='label label-success', ng-mouseleave='unhighlightCoding(this,"A")', ng-mouseover='highlightCoding(this,"A")', ng-click='editSingleCoding(this,"A")', title='{{codes.codis[coding.id_code].nom_complet}}' ) {{codes.codis[coding.id_code].name}}
                        div(style='float:right;display:block',ng-click='newSingleCoding(this,"A")', class='label label-danger') +
                        div(style='float:right;display:block',ng-repeat='groupId in block.groups')
                          button(class='btn btn-xs btn-primary', ng-click='editGroupCode(this,"A")') {{groupId}}
                      div(class='panel-body',ng-class="{'block_seleccionat': block.checked,'block_playing': block.playing}", ng-bind-html="block.contingut_filtrat")
      div#trans3_container(class='col-sm-4')
        div(class='container-fluid')
          div(class='row')
            div(class='col-sm-12')
              div(class='panel panel-danger')
                div(class='panel-heading')
                  h1(class='panel-title')
                    input(type='checkbox', ng-model='textToggle')
                    span No verbal
                div(class='panel-body transcripcio')
                    div(class='panel panel-default' , ng-repeat='block in transcriptions.text')
                      div(class='panel-heading')
                        button(class='btn btn-xs btn-warning', ng-click='toggleCheck(this,"T")') Select
                        button(class='btn btn-xs btn-warning', ng-click='seekPlayer(this)') Play
                        button(class='btn btn-xs btn-warning', ng-click='editTranscripcio(this,"T")') Edit
                        button(class='btn btn-xs btn-warning', ng-click='deleteTranscripcio(this,"T")') Delete
                        span(ng-repeat='coding in block.codings') 
                          span(class='label label-success', ng-mouseleave='unhighlightCoding(this,"T")', ng-mouseover='highlightCoding(this,"T")', ng-click='editSingleCoding(this,"T")', title='{{codes.codis[coding.id_code].nom_complet}}' ) {{codes.codis[coding.id_code].name}}
                        span(ng-click='newSingleCoding(this,"T")', class='label label-danger') +
                        span(ng-repeat='groupId in block.groups')
                          button(class='btn btn-xs btn-primary', ng-click='editGroupCode(this,"T")') {{groupId}}
                      div(class='panel-body', ng-class="{'block_seleccionat': block.checked,'block_playing': block.playing}", ng-bind-html="block.contingut_filtrat")
      div#trans2_container(class='col-sm-4')
        div(class='container-fluid')
          div(class='row')
            div(class='col-sm-12')
              div(class='panel panel-info')
                div(class='panel-heading')
                  h1(class='panel-title') 
                    input(type='checkbox', ng-model='videoToggle')
                    span Interfície
                div(class='panel-body transcripcio')
                    div(class='panel panel-default' , ng-repeat='block in transcriptions.video')
                      div(class='panel-heading')
                        button(class='btn btn-xs btn-warning', ng-click='toggleCheck(this,"I")') Select
                        button(class='btn btn-xs btn-warning', ng-click='seekPlayer(this)') Play
                        button(class='btn btn-xs btn-warning', ng-click='editTranscripcio(this,"I")') Edit
                        button(class='btn btn-xs btn-warning', ng-click='deleteTranscripcio(this,"I")') Delete
                        span(ng-repeat='coding in block.codings') 
                          span(class='label label-success', ng-mouseleave='unhighlightCoding(this,"I")', ng-mouseover='highlightCoding(this,"I")', ng-click='editSingleCoding(this,"I")', title='{{codes.codis[coding.id_code].nom_complet}}' ) {{codes.codis[coding.id_code].name}}
                        span(ng-click='newSingleCoding(this,"I")', class='label label-danger') +
                        span(ng-repeat='groupId in block.groups')
                          button(class='btn btn-xs btn-primary', ng-click='editGroupCode(this,"I")') {{groupId}}
                      div(class='panel-body',ng-class="{'block_seleccionat': block.checked,'block_playing': block.playing}", ng-bind-html="block.contingut_filtrat")
