doctype html
html
  head
    title= title
    meta(content='width=device-width, initial-scale=1', name='viewport')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/javascripts/video-js/video-js.css')
  body(ng-app='App3m', ng-controller='mainController', ng-init='init()')
    block menu
    block content
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/jquery.base64.js')
    script(src='/javascripts/angular.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/app.js')
